@using System.Collections.ObjectModel

@inject AppState AppState

<form>
    <div class="form-group">
        <label for="fScreen">Screen Name:</label>
        <input @bind="BindScreen" class="form-control" type="text" placeholder="Enter screen name..." required><br>
    </div>
    <div class="form-goup">
        <label for="fScreenZone">Zone Name:</label>
        <select @bind="BindScreenZone" class="form-control" name="ScreenZoneDD" id="ZoneDropDown" size="1" required>
            @foreach (Zone zone in AppState.Zones)
            {
                <option value="@zone.Name">@zone.Name</option>
            }
        </select><br>
    </div>
    <button @onclick="OnAddScreen" class="btn btn-success" type="submit">Add Zone</button>
</form>

@code {
    private string BindScreen { get; set; }
    private string BindScreenZone { get; set; }

    private void OnAddScreen()
    {
        Screen screen = new Screen(BindScreen, BindScreenZone);
        AppState.AddScreen(screen);
    }

}