.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.btnContainer button {
  margin: 5px;
}