@using System.Collections.ObjectModel

@inject AppState AppState

<form>
    <div class="form-group">
        <label for="fZone">Zone</label>
        <input @bind="BindZone" class="form-control" type="text" id="fZone" name="fZone" placeholder="Enter zonename..." required><br>
    </div>
    <button class="btn btn-danger">Discard Changes</button>
    <button @onclick="OnAddZone" class="btn btn-success" type="submit">Confirm</button>
</form>

@code {
    private string BindZone { get; set; }

    private void OnAddZone()
    {
        Zone zone = new Zone(BindZone);
        AppState.AddZone(zone);
    }

}