@using System.Collections.ObjectModel
@inject AppState AppState

<form>
    <label for="pname">Plakatnavn:</label>
    <input @bind="BindPosterName" type="text" id="pname" name="pname" placeholder="Indtast plakatnavn..." required><br>
    <label for="sdate">Slutdato:</label>
    <input @bind="BindStartDate" type="text" id="sdate" name="sdate" placeholder="Indtast startdato..." required><br>
    <label for="edate">Slutdato:</label>
    <input @bind="BindEndDate" type="text" id="edate" name="edate" placeholder="Indtast slutdato..." required><br>
    <label for="url">Slutdato:</label>
    <input @bind="BindUrl" type="url" id="url" name="url" placeholder="Indtast url..." required><br>

    <input @onclick="OnAddPoster" class="CPOSTER_submit" type="button" value="Submit">
</form>

@code {
    private string BindPosterName { get; set; }
    private string BindStartDate { get; set; }
    private string BindEndDate { get; set; }
    private string BindUrl {get; set; }

    private void OnAddPoster()
    {
        CPoster Poster = new CPoster(BindPosterName, BindStartDate, BindEndDate, BindUrl);
        AppState.AddPoster(Poster);
        OnAddPosterCallback.InvokeAsync(Poster);
    }

    [Parameter]
    public EventCallback<CPoster> OnAddPosterCallback { get; set; }

}