@using System.Collections.ObjectModel

@inject AppState AppState

<form>
    <label for="IName">Institution name:</label>
    <input @bind="BindIName" type="text" id="IName" name="IName" placeholder="Enter institution name..." required><br>
    <label for="IAdmin">Admin name:</label>
    <input @bind="BindIAdmin" type="text" id="IAdmin" name="IAdmin" placeholder="Enter admin name..." required><br>

    <input @onclick="OnAddInstitution" class="CUSER_submit" type="button" value="Confirm">
</form>

@code {
    private string BindIName { get; set; }
    private string BindIAdmin { get; set; }

    private void OnAddInstitution()
    {
        Institution institution = new Institution(BindIName, BindIAdmin);
        AppState.AddInstitution(institution);
        // InvokeAsync(StateHasChanged);

        //OnAddInstitutionCallback.InvokeAsync(institution);
    }

    [Parameter]
    public EventCallback<Institution> OnAddInstitutionCallback { get; set; }

}