@page "/EditInformation"
<div>
    <label for="Firstname">Change Username:</label>
    <input type="text" placeholder="New Firstname">
</div>
<div>
    <label for="Password">Change Password:</label>
    <input type="text" placeholder="New Password">
</div>
<div>
    <label for="Email">Change Email:</label>
    <input type="text" placeholder="New Email">
</div>
<div>
    <label for="Phonenumber">Change Phonenumber:</label>
    <input type="text" placeholder="New Phonenumber">
</div>
