@page "/ForgotPassword"

<div>
    <label for="Email">Email</label>
    <input type="text" placeholder="Your Email">
    <label for="NewPassword">New Password</label>
    <input type="text" placeholder="New Password">
</div>