@page "/"
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<!-- Skal være en form istedet for mange forskellige div's -->
<div class="container">
    <form action="" @onsubmit="MoveMeToHome">
        <div class="form-group">
            <input type="email" id="Usernamebox" placeholder="Enter email" name="Uname" required>
        </div>
        <div class="form-group">
            <input type="password" id="Passwordbox" placeholder="Enter Password" name="Pword" required>
        </div>
        <div class="form-group">
            <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
        </div>
        <button type="submit" id="Log" @onclick="MoveMeToHome">Login</button>
    </form>
    <span class="psw"><a href="/ForgotPassword">Forgot password?</a></span>
</div>

@code {
    void MoveMeToHome()
    {
        NavigationManager.NavigateTo(uri: "/Home");
    }
}