@page "/"
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AppState AppState

<!-- Skal være en form istedet for mange forskellige div's -->
<div class="container">
    <form action="" @onsubmit="Login">
        <div class="form-group">
            <input @bind="email" type="email" id="Usernamebox" placeholder="Enter email" name="Uname" required>
        </div>
        <div class="form-group">
            <input type="password" id="Passwordbox" placeholder="Enter Password" name="Pword" required>
        </div>
        <div class="form-group">
            <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block" @onclick="Login">Login</button>
    </form>
    <span class="psw"><a href="/ForgotPassword">Forgot password?</a></span>
</div>

@code {
    string email;

    void MoveMeToHome()
    {
        if(AppState.Login(email))
        {
            System.Console.WriteLine(email);
            NavigationManager.NavigateTo("/Home");
        }
    }
}