@page "/InstitutionManagement"
@inject NavigationManager NavManager
@inject AppState AppState

<div>
    <button class="button" type="button">New Institution</button>

    <div class="search">
        <input type="text" placeholder="Search...">
    </div>
</div>

<table class="table">
    <tr>
        <th>Institution Name</th>
        <th></th>
    </tr>
    <tr>
        <td>Biffen</td>
        <td>Delete</td>
    </tr>

</table>

@code {
    protected override void OnInitialized()
    {
        if (!AppState.Auth)
        {
            NavManager.NavigateTo("/");
        }
    }
}