@page "/screen/upload"

<div class="container">
  <h2>Enter Url to upload image</h2>
  <div class="form">
    <input id="urlInput" class="form-control" type="text" placeholder="Link to an image...">
    <button type="button" class="btn btn-success">Upload</button>
  </div>
</div>