@page "/PosterManagement"
@using frontend.Shared.CreateForms
@using frontend.Shared.Table
@inject NavigationManager NavigationManager
@inject AppState AppState

<div class="UserContainer">
    <div class="UserView">
        <div class="Btn">
            <button class="btn btn-primary" @onclick="CreatePoster">Create Poster</button>
        </div>
        <div class="Table">
            <TableTemplate Items="AppState.Posters" Context="poster">
                <TableHeader>
                    <th>Poster name</th>
                    <th>Start date</th>
                    <th>End date</th>
                </TableHeader>
                <RowTemplate>
                    <td>@poster.PosterNavn</td>
                    <td>@poster.StartDato</td>
                    <td>@poster.SlutDato</td>
                </RowTemplate>
            </TableTemplate>
        </div>
    </div>

    <div class="UserManagement">
        @if (CurrentMode == Mode.Initial)
        {
            <h1>Test</h1>
        }
        else if (CurrentMode == Mode.Edit)
        {
            // Edit Poster
            CurrentMode = Mode.Initial;
        }
        else if (CurrentMode == Mode.Create)
        {
            <CreatePoster />;
            CurrentMode = Mode.Initial;
        }
    </div>
</div>

@code
{
  protected override void OnInitialized()
  {
    AppState.OnPosterAdd += StateHasChanged;
    if (!AppState.Auth)
    {
        NavigationManager.NavigateTo("/");
    }
  }
  
    public List<CPoster> PosterList = new List<CPoster>();

    Mode CurrentMode { get; set; } = Mode.Initial;
    enum Mode
    {
        Initial,
        Edit,
        Create
    }

    private void CreatePoster()
    {
        CurrentMode = Mode.Create;
    }
}
