@page "/screen/upload"
@inject AppState AppState
@inject NavigationManager NavManager

<div class="container">
  <h2>Enter Url to upload image</h2>
  <div class="form">
    <input @bind="source" id="urlInput" class="form-control" type="text" placeholder="Link to an image...">
    <button type="button" class="btn btn-success" @onclick="AddSource">Upload</button>
  </div>
</div>

@code {
  string source {get; set; }

  protected override void OnInitialized()
  {
    if (!AppState.Auth)
    {
        NavManager.NavigateTo("/");
    }
  }
  public void AddSource() {
    AppState.AddPoster(source);
    source = "";
    NavManager.NavigateTo("/screen");
  }
}