@page "/PosterManagement"
@using System

<NavigationBar></NavigationBar>
<div class="pt-2 row">
    <div class="col">
        <ManagementTable></ManagementTable>
    </div>
    <div class="col">
        <>
    </div>
</div>

@code
{

}