@page "/ScreenManagement"

    <div class ="Wrapper">
        <div class="myDivs">
            <button type="button">Create Screen</button>
            <table>
            <tr>
                <th>Screen Name </th>
                <th>Zone</th>
                <th></th>
            </tr>
            <tr>
                <td>Biffen</td>
                <td>Indgang</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Aalborg</td>
                <td>BagIndgang</td>
                <td>Edit</td>
            </tr>
            </table>
        </div>

        <div class="myDivs">
            <button type="button">Create Zone</button>
            <table>
            <tr>
                <th> Zone Name </th>
                <th></th>
            </tr>
            <tr>
                <td>Zone1</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Aalborg</td>
                <td>Delete</td>
            </tr>
            </table>
        </div>
    </div>