.screenContainer {
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .UserView, .UserManagement {
    width: 49%;
    border: 2px solid #000000;
} */

.zoneManagement, .group {
    border: 2px #000 solid;
}

.zoneManagement {
    padding: 5px;
    flex: 1;
    margin: 5px;
}

.group {
    padding: 5px;
    flex: 1;
    margin: 5px;
}

.Btn {
    padding: 5px 0 0 10px;
}

.Table{
    margin-top: 10px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border: 2px #000000;
}
.table td{
    width: fit-content;
    border: 2px black;
}

