@page "/ScreenManagement"

<div class="UserContainer">
    <div class="UserView">
        <div class="Btn">
            <button @onclick="CreateZone">Create Zone</button>
        </div>
        <div class="Table">
            <TableTemplate Items="_zone" Context="Zone">
                <TableHeader>
                    <th>Zonename</th>
                </TableHeader>
                <RowTemplate>
                    <td>@Zone.Zones</td>
                </RowTemplate>
            </TableTemplate>
        </div>
    </div>

    <div class="UserManagement">
        @if (CurrentMode == Mode.Initial)
        {
            <h1></h1>
        }
        else if (CurrentMode == Mode.Edit)
        {
            <!-- <Editzone-->
        }
        else if (CurrentMode == Mode.Create)
        {
            <CreateZone OnAddZoneCallback="@_zone.Add"></CreateZone>
        }
    </div>
</div>

@code
{
    public List<Zone> _zone = new List<Zone>();

    Mode CurrentMode { get; set; } = Mode.Initial;
    enum Mode
    {
        Initial,
        Edit,
        Create
    }

    private void CreateZone()
    {
        CurrentMode = Mode.Create;
    }
}