@page "/users/"

<div class = "UserView">
    <div class = "Btn">
        <ButtonDialog BtnText="Create user"></ButtonDialog>
    </div>
    <div class = "Table">
        <Table Column1="Fornavn" Column2="Efternavn" Column3="Rolle" Column4="Institution" Column5="Edit"></Table>
    </div>
</div>
