@page "/users/"

<button type="button" id="createUser">Create User</button>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Institution</th>
        <th>Edit</th>
    </tr>
    <tr>
        <td>Simon</td>
        <td>Andersen</td>
        <td>System Admin</td>
        <td>Nordkraft</td>
        <td>Edit</td>
    </tr>
    <tr>
        <td>Patrick</td>
        <td>Bertelsen</td>
        <td>System Admin</td>
        <td>Nordkraft</td>
        <td>Edit</td>
    </tr>
</table>

