@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AppState AppState

<div class="page">

  <div class="main">
    <div class="top-row">
      @if (AppState.Auth)
      {
        <div class="left-nav">
          @if (AppState.Role == "user" || AppState.Role == "inst_admin" || AppState.Role == "sys_admin")
          {
            <button type="submit" id="pmanager" class="top-row-btn" @onclick='() => GoTo("/PosterManagement")'>Poster
              Management</button>
          }
          @if (AppState.Role == "inst_admin" || AppState.Role == "sys_admin")
          {
            <button type="submit" id="umanager" class="top-row-btn" @onclick='() => GoTo("/Users")'>User
              Management</button>
          }
          @if (AppState.Role == "sys_admin")
          {
            <button type="submit" id="imanager" class="top-row-btn" @onclick='() => GoTo("/InstitutionManagement")'>Institution
              Management</button>
            <button type="submit" id="smanager" class="top-row-btn" @onclick='() => GoTo("/ScreenManagement")'>Screen
              Management</button>
          }
        </div>
        <div class="right-nav">
          <div class="dropdown">
            <span id="Gear">&#9881;</span>
            <div class="dropdown-content">
              <button class="top-row-btn" type="submit" style="position: relative;"
                @onclick='() => GoTo("/EditInformation")'>Change Password</button>
            </div>
          </div>
          <button type="submit" class="top-row-btn" @onclick="LogOut">Logout</button>
        </div>
      }

    </div>

    <div class="content">
      @Body
    </div>
  </div>
</div>


@code
{
  void GoTo(string route)
  {
    NavigationManager.NavigateTo(route);
  }

  void LogOut()
  {
    AppState.LogOut();
    NavigationManager.NavigateTo(uri: "/");
  }
}
