<form>
    <label for="fname">Fornavn:</label>
    <input type="text" id="fname" name="fname" placeholder="Indtast fornavn..." required><br>
    <label for="lname">Efternavn:</label>
    <input type="text" id="lname" name="lname" placeholder="Indtast efternavn..." required><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Indtast email..." required><br>

    <label for="institution">Vælg institution:</label>
    <select name="institution" id="institution" required>
        <option value="Nordkraft">Nordkraft</option>
        <option value="DGI_Huset">DGI Huset</option>
        <option value="Nicolai_Mor">Nicolai's Mor</option>
    </select>

    <label for="role">Vælg rolle:</label>
    <select name="institution" id="institution" required>
        <option value="System_admin">System Admin</option>
        <option value="Institution_admin">Institutions Admin</option>
        <option value="Institution_user">Institution Bruger</option>
    </select>

    <input class="CUSER_submit"type="submit" value="Submit">
</form>
 