@using System.Collections.ObjectModel

@inject AppState AppState

<form>
    <label for="fZone">Zone:</label>
    <input @bind="BindZone" type="text" id="fZone" name="fZone" placeholder="Indtast zone..." required><br>

    <input @onclick="OnAddZone" class="CZONE_submit" type="button" value="Submit">
</form>

@code {
    private string BindZone { get; set; }

    private void OnAddZone()
    {
        Zone zone = new Zone(BindZone);
        AppState.AddZone(zone);
    }

    [Parameter]
    public EventCallback<Zone> OnAddZoneCallback { get; set; }

}