@using System.Collections.ObjectModel

@inject AppState AppState

<form>
    <label for="fScreen">Screen Name:</label>
    <input @bind="BindScreen" type="text" placeholder="Indtast screen..." required><br>
    <label for="fScreenZone">Zone Name:</label>
    <input @bind="BindScreenZone" type="text" placeholder="Indtast zone..." required><br>

    <input @onclick="OnAddScreen" type="button" value="Submit">
</form>

@code {
    private string BindScreen { get; set; }
    private string BindScreenZone { get; set; }

    private void OnAddScreen()
    {
        Screen screen = new Screen(BindScreen, BindScreenZone);
        AppState.AddScreen(screen);
    }

    [Parameter]
    public EventCallback<Zone> OnAddZoneCallback { get; set; }

}