@using System.Collections.ObjectModel
@inject AppState AppState

<form>
    <label for="IName">Editing Institutionsnavn:</label>
    <input @bind="BindIName" type="text" id="IName" name="IName" required><br>
    <label for="IAdmin">Editing Kontaktperson:</label>
    <input @bind="BindIAdmin" type="text" id="IAdmin" name="IAdmin" required><br>

    <input @onclick="OnEditInstitution" class="CUSER_submit" type="button" value="Save Changes">
    <input @onclick="OnDeleteInstitution" class="CUSER_submit" type="button" value="Delete Institution">
</form>

@code {
    private string BindIName { get; set; }
    private string BindIAdmin { get; set; }

    private void OnEditInstitution() { }

    private void OnDeleteInstitution() { }

    [Parameter]
    public EventCallback<Institution> OnAddInstitutionCallback { get; set; }

}