@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <button type="button" id="pmanager">Poster Management</button>
            <button type="button" id="umanager">User Management</button>
            <button type="button" id="imanager">Institution Management</button>
            <button type="button" id="smanager">Screen Management</button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
