@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">

    <div class="main">
        <div class="top-row">
            <div class="left-nav">
                <button class="top-row-btn" @onclick='() => GoTo("/PosterManagement")'>Poster
                    Management</button>
                <button class="top-row-btn" @onclick='() => GoTo("/users")'>User
                    Management</button>
                <button class="top-row-btn" @onclick='() => GoTo("/InstitutionManagement")'>Institution
                    Management</button>
                <button class="top-row-btn" @onclick='() => GoTo("/ScreenManagement")'>Screen
                    Management</button>
            </div>
            <div class="right-nav">
                <div class="dropdown">
                    <span id="Gear">&#9881;</span>
                    <div class="dropdown-content">
                        <button class="top-row-btn" @onclick='() => GoTo("/EditInformation")'>Change
                            Password</button>
                    </div>
                </div>
                <button class="top-row-btn" @onclick="MoveMeToLogin">Logout</button>
            </div>
        </div>

        <div class="content">
            @Body
        </div>
    </div>
</div>


@code
{
    void MoveMeToLogin()
    {
        NavigationManager.NavigateTo(uri: "/");
    }

    void GoTo(string route) 
    {
        NavigationManager.NavigateTo(route);
    }
}
