@inherits LayoutComponentBase
@using System
@inject NavigationManager navigationManager

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    @if (_tabState == Tab.PosterManagement)
                    {
                        <a class="nav-link active" aria-current="page" href="/PosterManagement">Poster management</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/PosterManagement">Poster management</a>
                    }
                </li>
                <li class="nav-item">
                    @if (_tabState == Tab.UserManagement)
                    {
                        <a class="nav-link active" aria-current="page" href="#">User management</a>
                    }
                    else
                    {
                        <a class="nav-link" href="#">User management</a>
                    }
                </li>
                <li class="nav-item">
                    @if (_tabState == Tab.InstitutionManagement)
                    {
                        <a class="nav-link active" aria-current="page" href="#">Institution management</a>
                    }
                    else
                    {
                        <a class="nav-link" href="#">Institution management</a>
                    }
                </li>
                <li class="nav-item">
                    @if (_tabState == Tab.ScreenManagement)
                    {
                        <a class="nav-link active" aria-current="page" href="#">Screen management</a>
                    }
                    else
                    {
                        <a class="nav-link" href="#">Screen management</a>
                    }
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Casper Ståhl - Cassiopeia
                        (System Admin)</a>
                </li>
                <li class="nav-item">
                    @if (_tabState == Tab.YourSettings)
                    {
                        <a class="nav-link active" aria-current="page" href="#">Your Settings</a>
                    }
                    else
                    {
                        <a class="nav-link" href="#">Your Settings</a>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    @Body
</div>

@code
{
    private Tab _tabState = Tab.None;
}