<li class="nav-item">
    @if (_currentRelativeUri == Uri)
    {
        <a class="nav-link active" aria-current="page" href="/@Uri">@Title</a>
    }
    else
    {
        <a class="nav-link" href="/@Uri">@Title</a>
    }
</li>

@code
{
    [Parameter]
    public string Uri { get; set; }

    [Parameter]
    public string Title { get; set; }

    [CascadingParameter]
    protected string _currentRelativeUri { get; set; }
}