
<h1>
    <button type="button">Poster Management</button>
    <button type="button" id="users">User Management</button>
    <button type="button">Institution Management</button>
    <button type="button">Screen Management</button>
</h1>
